<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Car Auction Platform</title>

    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/all.min.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/animate.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/nice-select.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/owl.min.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/magnific-popup.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/flaticon.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/main.css">
    <link rel="stylesheet" href="<%= process.env.WEBSITE_HOSTNAME %>assets/css/style.css">

    <link rel="shortcut icon" href="https://astraapplications.com/wp-content/uploads/2023/01/cropped-Astra-Icon-2-Color-32x32.png" type="image/x-icon">

    <script src="<%= process.env.AWT_HOSTNAME %>assets/javascript/global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>